*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type:  none;
    box-sizing: border-box;

}
body{
    background-color: #3e2f5b;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background: #261132;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin: right 20px ;
}
nav ul li{
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background-color: #816ea6;
    transition: .5s;
    color: white;

}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;
}
@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:#2c3e50 ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font: size 20px;
    }
    a:hover,a.active{
        background-color: none;
        color: #3e2f5b;
    }
    #check:checked~ul{
        left: 0;
    }
    /* section{
        background: url('pk_pot.jpg');
        background-size: cover;
        height: calc(100vh - 80px);
    } */
    section div{
        .pro{
            height: (100vh - 80px);
            width: 100%;
            background-color: #3e2f5b;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    .d a{
        color: rgb(248, 244, 244);
        text-decoration: none;
        font-size: 1.5rem;
        text-align: left;
    
    }
        
    .d{
        /* position: relative; */
        left: 5px;
    }
    .box{
        height:calc(100vh - 80px);
        width: 100%;
        /* border: 1px solid rgb(28, 20, 20); */
        /* border-radius: 8px; */
        padding: 10px 8px;
        /* position: relative; */
        background-color:  #3e2f5b;
    }
    .box p{
        color: rgb(248, 244, 244);
        font-size: 0.85rem;
    }
    }
    .body-box{
        display: none;
    }
}

@media(min-width:858px){
    .pro{
        height: 95vh;
        width: 100%;
        background-color: #3e2f5b;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .d a{
        color: rgb(248, 244, 244);
        text-decoration: none;
        font-size: 2rem;
        text-align: left;
    
    }
    .d{
        position: relative;
        left: 5px;
    }
    .box{
        height: 350px;
        width: 443px;
        border: 1px solid rgb(28, 20, 20);
        border-radius: 8px;
        padding: 20px 26px;
        position: relative;
        background-color: rgb(20, 19, 19);
        text-align: left;
    }
    .box p{
        color: rgb(248, 244, 244);
        font-size: 0.85rem;
    }
}
